.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 16px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}

.header-menu a {
  color: #141414;
  text-decoration: none;
  font-size: 18px;
  display: block;
  gap: 8px;
  padding: 8px 16px;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 16px;
  }

  .header-menu a {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
}
